h1 {
    font-family: 'Ubuntu', sans-serif;
    margin-left: 15px;
}

h3 {
    margin-left: 15px;
}

body {
    background-color: #deb887;
}

p {
    margin-left: 15px;
}

footer {
    margin-left: 15px;
    text-align: center;
}

form {
    padding: 15px;
    margin: auto;
}

.input-field {
    width: 250px;
}

div[class="radio"] label {
    padding-right: 25px;
    
}